@import '../../assets/styles/vars';

.input {
  width: 100%;
  outline: none;
  padding: 4px 8px;
  border: 2px solid $color-blue;
  border-radius: 8px;
  font-size: 20px;
  color: $color-blue;

  &:disabled {
    background: lightskyblue;
    cursor: not-allowed;
  }

  &:focus {
    background: $bg-white;
  }
}

.label {
  font-size: 22px;
  font-weight: 700;
  color: $color-blue;
  margin-bottom: 4px;
  display: block;
}

.full {
  width: 100%;
}