// backgrounds
$bg-primary-blue: linear-gradient(181deg, rgb(2, 0, 97) 15%, rgb(97, 149, 219) 158.5%);
$bg-dark-blue: linear-gradient(109.6deg, rgb(23, 31, 37) 11.2%, rgb(12, 29, 45) 51.2%, rgb(0, 0, 0) 98.6%);
$bg-medium-blue: radial-gradient(circle at 3% 7.4%, rgb(0, 144, 243) 0%, rgb(0, 86, 240) 90%);
$bg-transparent-dark: rgba(0, 0, 0, 0.3);
$bg-medium-dark: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(74, 98, 110) 131%);
$bg-success: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
$bg-error: radial-gradient(circle at 10.6% 22.1%, rgb(206, 18, 18) 0%, rgb(122, 21, 21) 100.7%);
$bg-white: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
$bg-gray: linear-gradient(to right, #868f96 0%, #596164 100%);

//colors
$color-white: #fff;
$color-blue: #2264ab;
$color-medium-blue: #174473;
$color-dark-blue: #0c1d2d;
$color-red: #cd1f0e;
$color-yellow: #d2e000;
$color-success: #0ba360;

// shadows
$shadow-black-common: #000000 0 0 12px;
$text-shadow-white-big: #fff 1px 0 7px
