// backgrounds
$bg-primary-blue: linear-gradient(to top, #09203f 0%, #537895 100%);
$bg-dark-blue: linear-gradient(109.6deg, rgb(23, 31, 37) 11.2%, rgb(12, 29, 45) 51.2%, rgb(0, 0, 0) 98.6%);

//colors
$color-white: #fff;
$color-blue: #2264ab;
$color-medium-blue: #174473;
$color-dark-blue: #0c1d2d;
$color-red: #cd1f0e;

// shadows

$shadow-black-common: #000000 0 0 12px;
$text-shadow-thite-big: #fff 1px 0 7px
