@import './nullstyle';
@import "vars";
@import "./utils";
@import "./fonts";

body {
  font-family: 'Playfair Display', serif;
  background: $bg-primary-blue;
  color: $color-white;
  line-height: 1.2;
}

html {
  height: unset;
  min-height: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px 20px;
}