.w-100 {
  width: 100%;
}

.centered-page {
  width: 100%;
  min-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

.p-5 {
  padding: 5px;
}

.mt-s {
  margin-top: 4px;
}