@import "vars";

.w-100 {
  width: 100%;
}

.centered-page {
  width: 100%;
  min-height: $main-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-5 {
  padding: 5px;
}